extends ../layout
block hero_unit
  .hero-unit.header-unit
    .content
      h1.pull-left Tech events have lots of beer and nerds!
      a(href=routes.new_event_path()).btn.btn-primary.btn-large.pull-right Add an event
      .clearfix
  .event-list.grey-bg
    .content
      table.table.table-striped
        thead
          tr
            th Name
            th When
            th Suggestor
            th
        tbody
          each event in events
            tr
              td= event.name
              td= event.when_at
              td= event.created_by.name
              td.actions
                a(href=routes.delete_event_path(event)).btn.btn-danger.btn-mini.pull-right
                  i.icon-remove.icon-white
                a(href=routes.edit_event_path(event)).btn.btn-mini.pull-right
                  i.icon-pencil
                  &nbsp; Edit




