extends ../layout
block hero_unit
  .hero-unit
    h2 Tech events have lots of beer and nerds!
    p
      a(href=new_event_path).btn.btn-primary.btn-large Add an event
  table.table.table-striped
    thead
      tr
        th Name
        th When
        th
    tbody
      each event in events
        tr
          td= event.name
          td= event.when_at
          td
            a(href=edit_event_path(event)).btn.btn-mini
              i.icon-pencil
              &nbsp; edit
            &nbsp;
            a(href=delete_event_path(event)).btn.btn-danger.btn-mini
              i.icon-remove.icon-white
              &nbsp; remove






