- if (type === 'user')

  div(data-key='user', data-value='#{login}')
    img.img-circle(src='#{avatar_url}')
    //- span.name #{name}
    span.username #{login}

- if (type === 'milestone')

  div(data-key='milestone', data-value='#{title}')
    i.icon-calendar
    &nbsp; #{title}

- if (type === 'repo')

  div(data-key='repo', data-value='#{name}')
    i.icon-briefcase
    &nbsp; #{name}

- if (type === 'project')

  div(data-key='project', data-value='#{name}')
    i.icon-th
    &nbsp; #{name}