!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Doghouse x Belly
    meta(name='description', content='')
    meta(name='author', content='')
    // Mobile Specific
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href="/stylesheets/bootstrap.css", media="screen", rel="stylesheet", type="text/css")
    link(href="/stylesheets/bootstrap-datepicker.css", media="screen", rel="stylesheet", type="text/css")
    != css('app')

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href=routes.root_path()) Doghouse
          .nav-collapse.collapse
            ul.nav
              li
                a(href=routes.issues_path()).issues Issues
              li
                a(href=routes.events_path()) Events
              li
                a(href=routes.blog_posts_path()) Blog Posts
              li
                a(href=routes.tools_path()) Tools
            form.navbar-form.pull-right
              if loggedIn()
                a(href=routes.logout_path()).btn Sign out
              else 
                a(href=routes.github_connect_url()).btn Sign in with GitHub

    .container
      block hero_unit
      block page_content
      footer
        .content
          p.copyright © Belly Inc 2013

    script(src='/javascripts/almond.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/bootstrap-datepicker.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    script(src='/javascripts/backbone.queryparams.js')
    script(src='/javascripts/moment.js')
    != js('doghouse')

  | </html>
